rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función auxiliar para verificar si el usuario está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Función para verificar si el usuario es el propietario del documento
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    // Reglas para la colección de usuarios y todas sus subcolecciones
    match /users/{userId} {
      allow read, write: if isOwner(userId);
      
      match /{allChildren=**} {
        allow read, write: if isOwner(userId);
      }
    }
    
    // Denegar acceso a cualquier otra colección por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
